#gsaBuzzBox {
	display: block;
	font-family: arial;
	font-size: 12px;
	color: rgb(59,59,59);
	padding: 40px 0 0 0;
	background: rgb(255,255,255) url('http://www.google.com/intl/en/images/logos/buzz_logo.gif') no-repeat;
}

#gsaBuzzBox .gsaBuzzItem {
	display: block;
	border: 0;
	margin: 10px;
	clear: both;
}

#gsaBuzzBox .gsaBuzzItem p.gsaBuzzTitle {
	padding: 0;
	margin: 0;
}

#gsaBuzzBox .gsaBuzzItem img {
	display: block;
	border: 0;
	padding: 0 10px 10px 0;
	float: left;
	height: 30px;
}

#gsaBuzzBox .gsaBuzzItem p.gsaBuzzActor {
	color: rgb(159,159,159);
	padding: 0;
	margin: 5px 0 0 0;
}
#gsaBuzzBox .gsaBuzzItem a {
	color: #228822;
	font-weight: bold;
}